@layer reset, base, tokens, recipes, utilities;

.pswp {
  --pswp-bg: rgba(0, 0, 0, 0.7);
  transition: backdrop-filter 0.3s ease-in-out;
  backdrop-filter: blur(0px);
}

.pswp--ui-visible {
  backdrop-filter: blur(5px);
}
